@model Todo;

<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="text-center">
            <h1 class="display-4">Edit todo</h1>
        </div>

        @if (Model == null) 
        {
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <p>
                            We could not find the item you were looking for
                        </p>
                    </div>
                </div>
            </div>
        } else {
            @using(Html.BeginForm())
            {
                <div>
                    <div>
                        @Html.LabelFor(x => x.Title)
                        @Html.TextBoxFor(x => x.Title)
                        @Html.ValidationMessageFor(x => x.Title)
                    </div>

                    <div>
                        @Html.LabelFor(x => x.Description)
                        @Html.TextAreaFor(x => x.Description)
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>

                    <div class="edit__status--container">
                        <h3>Status</h3>
                        <div class="edit__status--item">
                            <label for="to-be-done">To be done</label>
                            <input type="radio" id="to-be-done" name="Status" value="ToBeDone" checked=@( Model.Status == "ToBeDone" ) />
                        </div>

                        <div class="edit__status--item">
                            <label for="on-going">On going</label>
                            <input type="radio" id="on-going" name="Status" value="OnGoing" checked=@( Model.Status == "OnGoing" )/>
                        </div>

                        <div class="edit__status--item">
                            <label for="done">Done</label>
                            <input type="radio" id="done" name="Status" value="Done" checked=@( Model.Status == "Done" )/>
                        </div>
                    </div>

                    <div class="edit__submit-button">
                        <input type="submit" value="Save" />
                    </div>
                </div>
            }
        }
    </div>
</div>