@model TodoApp.ViewModel.TodoIndexViewModel;
@{
    ViewData["Title"] = "Todo Application";
}


<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
</div>

<div class="row mt-4">
    <div class="col-12 col-md-4 mb-4">
        <div class="todo-card p-3">
            <div class="todo-card__title">
                <h2>Most Recent</h2>
            </div> 

            <div class="todo-card__list">
                <ul class="list-small">
                    @if (Model.MostRecent.Count < 1)
                    {
                        <li class="list-small__empty">
                            <p>Empty</p>
                        </li>
                    } 
                    else 
                    {
                        @foreach (Todo item in Model.MostRecent)
                        {
                            <li  class="list-small__item">
                                <a asp-controller="Todo" asp-action="Update" asp-route-id="@item.Id" >@item.Title</a>
                            </li>
                        } 
                    }
                </ul>
            </div> 
        </div>
    </div>
    
    <div class="col-12 col-md-4 mb-4">
        <div class="todo-card p-3">
            <div class="todo-card__title">
                <h2>On Going</h2>
            </div> 

            <div class="todo-card__list">
                <ul class="list-small">
                    @if (Model.MostRecentOnGoing.Count < 1)
                    {
                        <li class="list-small__empty">
                            <p>Empty</p>
                        </li>
                    } 
                    else 
                    {
                        @foreach (Todo item in Model.MostRecentOnGoing)
                        {
                            <li  class="list-small__item">
                                <a asp-controller="Todo" asp-action="Update" asp-route-id="@item.Id" >@item.Title</a>
                            </li>
                        } 
                    }
                </ul>
            </div> 
        </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
        <div class="todo-card p-3">
            <div class="todo-card__title">
                <h2>Recently Done</h2>
            </div> 

            <div class="todo-card__list"> 
                <ul class="list-small">
                    @if (Model.MostRecentDone.Count < 1)
                    {
                        <li class="list-small__empty">
                            <p>Empty</p>
                        </li>
                    } 
                    else 
                    {
                        @foreach (Todo item in Model.MostRecentDone)
                        {
                            <li  class="list-small__item">
                                <a asp-controller="Todo" asp-action="Update" asp-route-id="@item.Id" >@item.Title</a>
                            </li>
                        } 
                    }
                </ul>
            </div> 
        </div>
    </div>
</div>
